# coding: utf-8

"""
    Kenoby

    Issues or Questions? <a href=\"mailto:devs@kenoby.com\" target=\"_blank\">Send us an e-mail</a>.<br>                      For better experience <a href=\"http://api.kenoby.com/swagger.json\" target=\"_blank\">Download our swagger.json</a>                      and use it on <a href=\"https://www.getpostman.com/\" target=\"_blank\">Postman</a>  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ScreeningGroupApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def checktestisbeingused(self, x_tenant, x_version, screening_group_id, **kwargs):  # noqa: E501
        """Check if a screening group is being used in a position.  # noqa: E501

        Check if a screening group is being used in a position.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.checktestisbeingused(x_tenant, x_version, screening_group_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str x_tenant: The tenant id. (required)
        :param str x_version: The API version. (required)
        :param str screening_group_id: The ID of the screening group that will be checked. (required)
        :return: ScreeningTestSchema
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.checktestisbeingused_with_http_info(x_tenant, x_version, screening_group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.checktestisbeingused_with_http_info(x_tenant, x_version, screening_group_id, **kwargs)  # noqa: E501
            return data

    def checktestisbeingused_with_http_info(self, x_tenant, x_version, screening_group_id, **kwargs):  # noqa: E501
        """Check if a screening group is being used in a position.  # noqa: E501

        Check if a screening group is being used in a position.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.checktestisbeingused_with_http_info(x_tenant, x_version, screening_group_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str x_tenant: The tenant id. (required)
        :param str x_version: The API version. (required)
        :param str screening_group_id: The ID of the screening group that will be checked. (required)
        :return: ScreeningTestSchema
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['x_tenant', 'x_version', 'screening_group_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method checktestisbeingused" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'x_tenant' is set
        if ('x_tenant' not in params or
                params['x_tenant'] is None):
            raise ValueError("Missing the required parameter `x_tenant` when calling `checktestisbeingused`")  # noqa: E501
        # verify the required parameter 'x_version' is set
        if ('x_version' not in params or
                params['x_version'] is None):
            raise ValueError("Missing the required parameter `x_version` when calling `checktestisbeingused`")  # noqa: E501
        # verify the required parameter 'screening_group_id' is set
        if ('screening_group_id' not in params or
                params['screening_group_id'] is None):
            raise ValueError("Missing the required parameter `screening_group_id` when calling `checktestisbeingused`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'screening_group_id' in params:
            path_params['screeningGroupId'] = params['screening_group_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_tenant' in params:
            header_params['x-tenant'] = params['x_tenant']  # noqa: E501
        if 'x_version' in params:
            header_params['x-version'] = params['x_version']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/screening-groups/is-being-used', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ScreeningTestSchema',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
